body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1c1b1b;
  font-family: Arial, sans-serif;
}

h1 {
  color: white;
}

.calculator {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
}

#display {
  width: 100%;
  height: 50px;
  font-size: 24px;
  text-align: right;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #f0f0f0;
  box-sizing: border-box;
}

.box-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}

button {
  height: 60px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #e0e0e0;
}

.btn-zero {
  grid-column: 1 / 3;
}

.btn-result {
  grid-row: 4 / 6;
  grid-column: 4;
  height: 100%;
}
